.main-layer {
  position: absolute;
  visibility: hidden;
  z-index: 0;
}

.main-layer.layer-visible {
    visibility: visible;
  z-index: 1;
}


.editor-tab-list ul li {
    display: inline-block;
}

.editor-tab-list ul {
  clear:both;
}